node_modules
.env
coverage
coverage.json
typechain
typechain-types
package-lock.json
yarn.lock
.DS_Store
.idea
reports/gas-cost-report*
scripts/gas-simulator/events.json

#Hardhat files
cache
artifacts

cache_hardhat/
forge-cache/
lib/
out/
gas-report.txt
yarn-error.log
.venv/*
.venv
.vscode/*

slither.config.json
